.entry-button {
  background-color: rgb(76, 77, 76);
  width: 300px;
  font-size: 20px;
  font-weight: 700;
  border: solid 3px rgb(204, 191, 149);
}
.entry-button:hover {
  background-color: rgb(76, 77, 76);
  border-color: rgb(204, 191, 149);
}
